.signup-otp-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* justify-content: center; */
    /* margin-top: 70px; */
}

.signup-otp-container::before {
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-image: url('/assets/TrygveLogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.1;
    z-index: 1;
}

.signup-otp-content {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 70px;
}

.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
    width: 100%;
}

.back-arrow {
    background: none;
    border: none;
    font-size: 2.5rem;
    color: #0052cc;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 20px;
}

.verify-title {
    font-family: 'Audiowide', sans-serif;
    font-size: 1.8rem;
    color: #0052cc;
    margin: 0 ;
}

.verify-subtitle {
   font-size: 0.9rem;
    color: #666;
    max-width: 350px; /* Increased width for better text flow */
    margin-bottom: 30px;
    text-align: center; 
}

.otp-input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.otp-input-box {
    width: 40px;
    height: 45px;
    border: 2px solid #0052cc;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.resend-prompt {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    width: 100%;
}

.resend-link {
    text-align: center;
    color: #0052cc;
    font-weight: 600;
    cursor: pointer;
}

.verify-footer {
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.verify-btn {
    /* margin-top: 10; */
    max-width: 350px;
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #0052cc;
    color: white;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 82, 204, 0.25);
}